---
layout: page
title: "Books"
permalink: "/books/"
display_image: false
main_image_path: "/assets/images/books-cover.jpg"
main_image_caption: "Books by Jen and Sim"
pageorder_number: 4
main_nav: true
frontpage: true
homepage_description_markdown: We write books!
frontpagetitle: "Books"
images:
  - image_path:
    image_title: ""
    image_description:
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: "assets/:year"
_comments:
  title: Page title
  main_image_path: Image used to represent your page
  main_nav: show in top navigation
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
  display_image: Show the featured image at the top of the page
---

{% if page.main_image_path and page.display_image %}

    <figure>
      {% assign alt_text = page.title %}
      {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
      {% include img.html src=page.main_image_path alt=alt_text %}
      <figcaption>{{ alt_text }}</figcaption>
    </figure>

  {% endif %}

<section class="book--intro editable">
  <p>We love books and still can't quite believe it's our job to write them. We have travelled the length and breadth of the country researching and photographing incredible places and amazing adventures in the great British outdoors. Our first book, <em>Wild Running</em>, was published in 2014 by Wild Things Publishing. <em>Amazing Family Adventures</em> (National Trust) and <em>Day Walks in Devon</em> (Vertebrate) came out in 2017 and our latest book, <em>The Adventurer's Guide to Britain</em>, was published by Bloomsbury in 2018. We have a busy 2019 lined up with the fully-updated second edition of <em>Wild Running</em> due out in February and our second book in the <em>Day Walks</em> series, this time covering beautiful Cornwall, out in April.</p>
</section>

{% assign books = site.books | sort: "book_date" | reverse %}

{% if books %}

<section class="book--current">

  <ul class="posts--list">

  {% for book in books %}

  <li class="post--inlist">

    <a href="{{ book.url }}" title="{{ book.title }}" class="post--image">
      {% if book.main_image_path %}
          {% include img.html src=book.main_image_path %}
      {% else %}
          {% include img.html src=site.placeholder_image %}
      {% endif %}
    </a>

    <div class="post--content">
        {% if book.description_markdown %}
        <h3>{{ book.title }}</h3>
        {% if page.book_date %}
        <p class="post--date">{{ page.book_date  | date: "%Y" }}</p>
      {% endif %}
        <p>{{ book.description_markdown | markdownify }}<br />
          <a href="{{ book.url }}" title="{{ book.title }}">View this book&nbsp;&raquo;</a></p>
        {% endif %}
    </div>

  </li>
  {% endfor %}
  </ul>

</section>


{% else %}

  {% if page.main_image_path %}
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}

{% endif %}

