---
layout: page
title: Books
permalink: /books/
display_image: false
main_image_path: /assets/images/books-cover.jpg
main_image_caption: Books by Jen and Sim Benson
pageorder_number: 4
main_nav: true
frontpage: true
homepage_description_markdown: >-
  Our comprehensive and engaging guidebooks offer inspiration for running,
  walking and outdoor adventures across Britain.
frontpagetitle: Books
images:
  - image_path:
    image_title:
    image_description:
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: 'assets/:year'
_comments:
  title: Page title
  main_image_path: Image used to represent your page
  main_nav: show in top navigation
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
  display_image: Show the featured image at the top of the page
---

{% if page.main_image_path and page.display_image %}

    <figure>
      {% assign alt_text = page.title %}
      {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
      {% include img.html src=page.main_image_path alt=alt_text %}
      <figcaption>{{ alt_text }}</figcaption>
    </figure>

  {% endif %}

<section class="book--intro editable">
  <p>We love books of all kinds and feel incredibly lucky to write guidebooks for a living. Over the past few years we've explored the length and breadth of the country researching and photographing incredible places and amazing adventures in the great British outdoors. We've also contributed to a number of excellent books, including <em>Waymaking: an anthology</em> and the updated Climbers' Club guide to Dartmoor.</p>
</section>

{% assign books = site.books | sort: "book_date" | reverse %}

{% if books %}

<section>

  <ul class="posts--list">

  {% for book in books %}

  <li class="post--inlist">

    <a href="{{ book.url }}" title="{{ book.title }}" class="post--image">
      {% if book.main_image_path %}
          {% include img.html src=book.main_image_path %}
      {% else %}
          {% include img.html src=site.placeholder_image %}
      {% endif %}
    </a>

    <div class="post--content">
      <a href="{{ book.url }}" title="{{ book.title }}" class="plain">
        <h3 class="post--title">{{ book.title }}</h3>
      </a>
      {% if book.book_date %}
      <p class="post--date"><span class="badge">Published: {{ book.book_date  | date: "%Y" }}</span></p>
      {% endif %}

      {% if book.description_markdown %}
        {{ book.description_markdown | markdownify }}
      {% endif %}

      {% if book.purchase_link %}
        <p><a href="{{ book.purchase_link }}" class="btn">Buy book <i class="small material-icons">shop</i></a></p>
      {% endif %}

      <!-- <p><a href="{{ book.url }}" title="{{ book.title }}" class="btn">View this book&nbsp;&raquo;</a></p> -->
    </div>

  </li>
  {% endfor %}
  </ul>

</section>


{% else %}

  {% if page.main_image_path %}
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}

{% endif %}

