---

main_image_path: "/assets/images/kayaking-cover.jpg"
main_image_caption: "Kayaking in the Isles of Scilly"
show_carousel: false
show_blog: false
carousel:
  - image: /assets/images/bikepacking-breconbeacons1.jpg
    caption: "Bike packing, Brecon Beacons"
    link:
  - image: /assets/images/kayaking-islesofscilly.jpg
    caption: "Kayaking, Isles of Scilly"
    link:
_options:
  layout:
    hidden: true
  status:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="holding">

    <div class="main--container">

      <div class="parallax--container">
        <h1 class="text--center text--white">{{ site.title }}</h1>

      </div>

      <div class="content--container">

        <div class="content">

        <h2 class="text--center">Site coming soon!</h2>
        </div>

      </div>

    </div>


<!-- Scripts -->
{% if site.recaptcha_site_key %}
<script src="//www.google.com/recaptcha/api.js" async defer></script>
{% endif %}
<script defer src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="/js/jquery.flexslider-min.js" defer></script>
<script src="//cdn.jsdelivr.net/npm/lightbox2@2.10.0/dist/js/lightbox.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/js/main.js"></script>

  </body>

</html>
