---
layout: home
display_image: true
main_image_path: /assets/images/fellrunning-howgills.jpg
main_image_caption: Fell running in the Howgills
_options:
  layout:
    hidden: true
  main_image_path:
    width: '1200'
    height: '1200'
    resize_style: contain
    mime_type: image/jpeg
  image:
    width: '1200'
    height: '1200'
    resize_style: contain
    mime_type: image/jpeg
_comments:
  display_image: Show cover image above text on home page
  main_image_path: Cover image
  main_image_caption: Caption text for cover image
---

{% if page.main_image_path and page.display_image %}
    <figure>
      {% assign alt_text = page.title %}
      {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
      {% include img.html src=page.main_image_path alt=alt_text %}
      <figcaption>{{ alt_text }}</figcaption>
    </figure>
{% endif %}


  <div class="editable">
    <p>We're passionate about bringing great adventures to beautiful places. Take a look at our <a href="/adventures/">adventure journal</a>&nbsp;for information and inspiration.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>


  {% for section in site.pages %}

    {% if section.frontpage %}

      {% if section.main_image_path %}
        <section class="gallery--cover has--cover" style="background-image: url({{ section.main_image_path }});">
      {% else %}
        <section class="gallery--cover has--cover" style="background-image: url('http://placekitten.com/g/1200/300');">
      {% endif %}
        <a href="{{ section.url | prepend: site.baseurl }}">
          <div class="scrim has--cover">
            <article class="gallery--front">
              <header class="gallery-header">
                <h2 class="title mb0">{{ section.frontpagetitle }}</h2>
              </header>
              {% if section.homepage_description_markdown %}
                {{ section.homepage_description_markdown | markdownify }}
                <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>

              {% endif %}
            </span>
          </article>
        </div>
        </a>

      </section>

    {% endif %}

  {% endfor %}


</section>