---
layout: page-noimage
title: "Recent projects"
permalink: "/projects/"
main_image_path: "/assets/images/mountainbiking-dartmoor.jpg"
main_image_caption: "Mountain biking on Dartmoor"
pageorder_number: 3
main_nav: true
frontpage: true
homepage_description_markdown: "Projects we're involved in"
frontpagetitle: "Recent projects"
images:
  - image_path:
    image_title: ""
    image_description:
_options:
  layout:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
  image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  title: Page title
  permalink: Be careful editing this
  main_image_path: Image used to represent your page
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<section class="projects-intro editable">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta vero neque nulla eos, cumque soluta voluptas consequuntur velit hic ipsam ea est nesciunt quidem doloremque perferendis possimus, quae quibusdam. Asperiores!</p>
</section>

{% assign projects = site.projects | where:"archive",false | sort: "project_date" | reverse %}

{% if projects %}

<section class="projects-current">

  <ul class="posts--list">

  {% for project in projects %}

  <li class="post--inlist">

    <a href="{{ project.url }}" title="{{ project.title }}" class="post--image">
      {% if project.main_image_path %}
          {% include img.html src=project.main_image_path %}
      {% else %}
          {% include img.html src=site.placeholder_image %}
      {% endif %}
    </a>

    <div class="post--content">

        <h3>{{ project.title }}</h3>

        {% if project.description_markdown %}
          <p>{{ project.description_markdown | markdownify }}</p>
        {% endif %}

        {% if project.ongoing %}
            <p><strong>In progress!</strong></p>
        {% endif %}

        {% if project.project_date %}
          <p class="post--date">{{ project.project_date | date: "%B %Y" }}
          {% if project.project_to_date %}
            to {{ project.project_to_date | date: "%B %Y" }}
          {% endif %}
          </p>
        {% endif %}

        <p><a href="{{ project.url }}" title="{{ project.title }}">View this project&nbsp;&raquo;</a></p>

    </div>

  </li>
  {% endfor %}
  </ul>

</section>


{% else %}

  {% if page.main_image_path %}
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}

{% endif %}

