---
layout: page
title: Work with us
permalink: /work-with-us/
display_image: true
main_image_path: /assets/images/jen--sim-benson-aussie-grit-42.JPG
main_image_caption:
main_nav: true
frontpage: true
pageorder_number: 2
homepage_description_markdown: 'Writing, photography, consultancy'
frontpagetitle: Work with us
images:
  - image_path:
    image_title:
    image_description:
_options:
  permalink:
    hidden: true
  layout:
    hidden: true
  image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: 'assets/:year'
_comments:
  title: Page title
  permalink: Be careful editing this
  display_image: Show the featured image at the top of the page
  main_image_path: Image used to represent your page
  main_nav: show in footer menu
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<div class="editable">
    <p>We work with businesses and organisations to bring great adventures to beautiful places, balancing recreation with conservation. We believe outdoor adventure should be sustainable and benefit its participants and locations equally. Our areas of expertise include running, outdoor adventure, adventure photography, endurance sport, family adventures, sustainability in outdoor recreation and navigation. We can provide:</p>
    <ul>
      <li>Engaging, well-researched copy</li>
      <li>Eye-catching outdoor adventure photos</li>
      <li>Route design, mapping and photography</li>
    </ul>
  </div>

{% assign projects = site.projects | where:"archive",false | sort: "order_number"  %}

{% if projects %}

<section class="projects-current">

  <h2>Recent projects</h2>
  <ul class="posts--list">

  {% for project in projects %}

  <li class="post--inlist">

    <a href="{{ project.url }}" title="{{ project.title }}" class="post--image">
      {% if project.main_image_path %}
          {% include img.html src=project.main_image_path %}
      {% else %}
          {% include img.html src=site.placeholder_image %}
      {% endif %}
    </a>

    <div class="post--content">

        <h3>{{ project.title }}</h3>

        {% if project.description_markdown %}
          <p>{{ project.description_markdown | markdownify }}</p>
        {% endif %}

        {% if project.ongoing %}
            <p><strong>In progress!</strong></p>
        {% endif %}

        {% if project.project_date %}
          <p class="post--date">{{ project.project_date | date: "%B %Y" }}
          {% if project.project_to_date %}
            to {{ project.project_to_date | date: "%B %Y" }}
          {% endif %}
          </p>
        {% endif %}

        <p><a href="{{ project.url }}" title="{{ project.title }}">View this project&nbsp;&raquo;</a></p>

    </div>

  </li>
  {% endfor %}
  </ul>

</section>


{% else %}

  {% if page.main_image_path %}
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}

{% endif %}
