// -----------------------------------------------------------------------------
// This file contains styles that are specific to header elements
// -----------------------------------------------------------------------------

h1 {
  font-size: modular-scale(6);
  font-family: $heading-font-family;
  @include grid-media ($small) {
    font-size: modular-scale(8);
  }
}

h2 {
  font-size: modular-scale(4);
  font-family: $heading-font-family;
  @include grid-media ($small) {
    font-size: modular-scale(6);
  }
}

h3 {
  font-size: modular-scale(2);
}
h4 {
  font-size: modular-scale(1);
}
h5 {
  font-size: modular-scale(-1);
}
h6 {
  font-size: modular-scale(-2);
}

.hdr--small {
  font-size: modular-scale(0);
}