// -----------------------------------------------------------------------------
// This file contains styles that are specific to header elements
// -----------------------------------------------------------------------------

h1 {
  font-size: modular-scale(6);
  font-family: $heading-font-family;
  @include grid-media ($small) {
    font-size: modular-scale(8);
  }
}

h2 {
  font-size: modular-scale(3);
  font-family: $heading-font-family;
  @include grid-media ($small) {
    font-size: modular-scale(4);
  }
}

h3 {
  font-size: modular-scale(2);
  font-family: $heading-font-family;
}
h4 {
  font-size: modular-scale(2);
  font-family: $heading-font-family;
  margin-bottom: 0.5em;
  @include grid-media ($small) {
    font-size: modular-scale(3);
    margin-bottom: 0;
  }
}
h5 {
  font-size: modular-scale(-1);
  font-family: $subheading-font-family;
}
h6 {
  font-size: modular-scale(-2);
  font-family: $subheading-font-family;
}

.hdr--small {
  font-size: modular-scale(0);
  font-family: $subheading-font-family;
}