// -----------------------------------------------------------------------------
// This file contains styles that are specific to media - embedded iframes etc
// -----------------------------------------------------------------------------
.video--responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.media {
  margin: 1em 0;
}

video.background {
  display: none;
  @include grid-media ($small) {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    background: url(/assets/video/forest_floor.jpg) no-repeat;
    background-size: cover;
  }
}
.staticmap {
  background: url(/assets/images/demomap.png) no-repeat;
  background-size: cover;
}