---
layout: default
---
<div class="page">
{% assign with_media = false %}
{% if page.video_embed or page.images[0].image_path or page.main_image_path %}
  {% assign with_media = true %}
{% endif %}


  <header class="post--header">
    <h1 class="post--title">{{ page.title }}</h1>
  </header>

  {% if page.main_image_path and page.display_image %}
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}


    <section class="main--content">

      {% if page.ongoing %}
        <p><strong>Project in progress!</strong></p>
      {% endif %}

      {% if page.project_date and page.show_date %}
        <p class="post--date">{{ page.project_date  | date: "%B %Y" }}
        {% if page.project_to_date %}
          to {{ page.project_to_date  | date: "%B %Y" }}
        {% endif %}
        </p>
      {% endif %}

      {{ content }}

    </section>


{% if with_media %}
  <aside class="media">

    {% if page.images %}

     {% if page.images[0].image_path %}

    <section class="gallery--list">

      {% for thisimage in page.images %}

        {% assign image = site.default_gallery_image %}
        {% if thisimage.image_path %}
          {% assign image = thisimage.image_path %}
        {% endif %}

          <div class="gallery--box">

             <a href="{% include imgpath.html src=image %}" class="gallery--link" data-lightbox="gallery" data-title="{{ thisimage.description }}">

              {% if page.thumb_crop %}

                <!-- cropped square images -->
                {% include img.html src=image width=200 height=200 fit=crop alt=thisimage.description %}
                <!-- end cropped square -->

              {% else %}

                <!-- full format images -->
                {% include img.html src=image alt=thisimage.description %}
                 <!-- end format images -->
               {% endif %}

               {% if page.display_title %}
                  <figcaption class="gallery--caption">{{ thisimage.description }}</figcaption>
              {% endif %}

            </a>



          </div>


      {% endfor %}

    </section>

    {% endif %}

    {% endif %}
  </aside>
{% endif %}

{% assign projects = site.projects | where:"archive",false | sort: "order_number" %}

{% if projects %}

<hr>

<h2>View more projects</h2>

<section class="projects gallery--list">

    {% for project in projects %}

       {% if project.url != page.url %}

          <div class="gallery--box">

            <a href="{{ project.url }}" class="gallery--link">

                <!-- cropped square images -->
                {% include img.html src=project.main_image_path width=200 height=200 fit=crop alt=project.title %}
                <!-- end cropped square -->

                <figcaption class="gallery--caption">{{ project.title }}</figcaption>

            </a>

          </div>
      {% endif %}


    {% endfor %}



</section>

{% endif %}

</div>
