// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------
/// logo
.logo {
    display: block;
    color: $base-font-color;
    padding: 0 0.5em;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;//height: 6em;

    span {
        font-size: 1.25em;
    }
    h1 {
        font-size: modular-scale(5);
        margin-bottom: 0;
        font-family: $logo-font-family;
        @include grid-media ($small) {
            font-size: modular-scale(8);
        }
    }
    .subtitle {
        color: $base-font-color;
        font-family: $subheading-font-family;
        font-weight: 400;
        font-style: italic;
        font-size: modular-scale(2);
        line-height: 1em;
        @include grid-media ($small) {
            font-size: modular-scale(2);
            line-height: 1.3em;
        }

    }
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        //color: shade($link-color, 10%);
    }
    &:active,
    &:focus {
        outline: none;
    }
}
